#weather_div {
    position: fixed;
    top: 0;
    right: 4vw;
    max-width: 15vw;

}
h3{
    font-size: 2vw;
}

body {
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    background-color: white;
}

#weather_div h2, h3, h4 {
    color: #FFFFFF;
}

.center {
    width: 40vw;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-wrapper {
    background-color: white
}

.loading {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 30vw;
    height: 40vh;
    z-index: 999;
}

.iframeSite {
    display: inline-block;
    width: 50vw;
    height: 65vh;
}

.iframeWebsiteWrapper {
    width: 60vw;
}

.title {
    color: #000;
    font-size: 2vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 30px; /* fallback */
    max-height: 60px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    padding-left: 5vw;
    padding-right: 5vw;
    cursor: pointer
}

.list-item {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.search {
    width: 40vw;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    darkgrey;
}

#search {
    width: 40vw;
    color: black;
    background-color: whitesmoke
}

hr {
    margin-left: 5vw;
    margin-right: 5vw
}

.fab {
    bottom: 3vh;
    right: 2vw;
}

#elevatorFuck {
    font-size: 3vh
}
.arrows{
    z-index: 0;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;    bottom: 0;
    left: 0;
    position: fixed;
    height: 13vh;
    width: 10vw;
}